.background{
  background-image: url("/img/back-mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
 }
body{
  font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57143;
    color: #fff;
    background: #060f3f;
}
h2{
  font-family: "EB Garamond", sans-serif;
    font-weight: 500;
    font-size: 32px;
     line-height: 1.3125;
    text-transform: uppercase;
    color: #fff;
}
@media only screen and (min-width: 1439px) {
  .background {
      background-image: url("/img/back-desk.png");
      background-repeat: no-repeat;
      background-position: top -40px center;
      background-size: cover;     
     }
  body {
      font-size: 16px;
 }
 h2{
  font-size: 42px;
 }
}